*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

/* NAVEGATION */
nav{
	box-shadow: 0 2px rgba(0, 0, 0, 0.1);
}

.brand{
	font-size: 24px;
	text-transform: uppercase;
	background: rgb(2,0,36);
	background: linear-gradient(40deg, rgba(2,0,36,1) 0%, rgba(98,201,144,1) 77%, rgba(0,212,255,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* HOME CAROUSEL */
#carousel-home{
	width: 100%;
	height: 100%;
	max-height: 95vh;
	background-color: rgba(0,0,0,1);
}

#carousel_item_home img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.7;
}

.home-caption{
	top: 80px;
}

.home-caption h5{
	font-size: 62px;
}

.home-caption p{
	font-size: 20px;
}

/* CAPTION INTRO HOME */
#mission_cap{
	background: rgb(2,0,36);
	background: linear-gradient(40deg, rgba(2,0,36,1) 0%, rgba(98,201,144,1) 77%, rgba(0,212,255,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.services-show img{
	object-fit: cover;
}

/* PARALLAX SEPARATOR*/ 
.parallax-sep{
    background-image: url("../img/nature2.webp");
    height: 100%;
    min-height: 25vh;
   	background-position: center;
   	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.CR{
	background: rgb(0,14,255);
	background: linear-gradient(45deg, rgba(0,14,255,1) 0%, rgba(255,0,0,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#sect-intro p{
	letter-spacing: 1.5px;
}

#dreamland-crew{
	height: 100%;
}

.crew-box{
	padding-left: 0 !important;
	padding-right: 0 !important;
	width: 100%;
	height: 100%;
}

.crew-box img{
	width: 100%;
}

.crew-box p{
	font-size: 18px;
}

/* PROPERTY SECTION  */
.swiper {
  width: 600px;
  height: 300px;
} 

.prop-slider{
	padding: 0 !important;
}

#property-section{
	width: 100%;
	padding: 40px;
	background-color: #ebebeb;
	color: #314862;
}

#property-section #property-slider{
	width: 100%;
	height: 400px;
	margin-top: 50px;
	box-shadow: 2px solid black;
}

#property-slider .swiper-container{
	width: 100%;
	height: 100%; 
}

#property-slider .swiper-container .swiper-slide .property-list{
	padding: 10px;
	background-color: #fff;
	border-radius: 0 30px 0 30px;
	color: #000000;
}

#property-slider .swiper-container .swiper-slide .property-list .image {
	width: 100%;
	height: 200px;
	overflow: hidden;
	border-radius: 0 30px 0 30px;
	margin-bottom: 10px;
}

#property-slider .swiper-container .swiper-slide .property-list .image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#property-slider .swiper-container .swiper-slide .property-list p{
	font-weight: 500;
}

/* LISTING SECTION */
#listing-property-section{
	background: #ebebeb;
}

.listing-title{
	letter-spacing: 19.5px;
}

.location-name h4{
	letter-spacing: 7.5px;
}

.location-name p{
	font-size: 20px;
	letter-spacing: 5.5px;
}

.detail-item p, i{
	font-size: 20px;
}

/* MODAL */
.modal-body{
	height: 100%;
	width: 100%;
}

.list-carousel{
	width: 100%;
	height: 90vh;
}

.list-carousel img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.modal-carousel{
	height: 100%;
	width: 100%;
}


#modal-overview-item{
	border: 1px solid;
	box-shadow: 2px #000;
}

.modal-map{
	width: 100%;
	max-height: 500px;
}

/* TOUR SECTION */
/*
.para-cont{
	height: 95vh;
	padding: 0 !important;
	perspective: 1px;
	transform-style: preserve-3d;
	overflow-x: hidden;
	overflow-y: auto;
}

.para-cont::-webkit-scrollbar {
  display: none;
}

.para-cont h1{
	margin: 0 auto;
	width: 90%;
	font-size: 130px;
	font-weight: 900;
	line-height: 1.1;
	letter-spacing: -2px;
	color: #fff;
	word-spacing: 100vh;
	text-align: center;
	text-transform: uppercase;
}

.parallax{
	width: 100vw;
	height: 110vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	transform-style: preserve-3d;
}

.parallax h1{
	color: #fff;
	text-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.parallax:nth-child(1) h1{
	text-align: left;
}

.parallax:nth-child(5) h1{
	text-align: right;
}

.para-background{
	position: absolute;
	width: 100vw ;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: -1;
	transform: translateZ(-1px) scale(2);
}

.bg-1{
	background: url("../img/nature2.webp") center / cover;
}

.bg-2{
	background: url("../img/nature3.webp") center / cover;
}

.bg-3{
	background: url("../img/nature6.webp") center / cover;
}

.tour-content{
	width: 100%;
	height: 100vh;
	background: #fff;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.tour-content h1{
	color: #333;
}
*/

.global-card{
	width: 100%;
}

.global-card img{
	height: 275px;
	object-fit: cover;
}

.card-text{
	min-height: 50px;
	max-height: 50px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.gallery{
	width: 100%;
	height: 100%;
}

.gallery-item{
	width: 250px;
	height: 250px;
	padding: 0;
}

.gallery-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* CONTACT SECTION */

.contact_section{
	max-width: 800px;
	margin: 50px auto;
	position: relative;
	box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.7);
	padding: 15px;
}

.contact_section .contact_header{
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3px;
	font-size: 3em;
	line-height: 48px;
	padding-bottom: 50px;
	background: rgb(2,0,36);
	background: linear-gradient(40deg, rgba(2,0,36,1) 0%, rgba(98,201,144,1) 77%, rgba(0,212,255,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.contact_section .form_field{
	position: relative;
	margin: 35px 0;
}

.contact_section .input-text{
	display: block;
	width: 100%;
	height: 36px;
	border-width: 0 0 2px 0;
	border-color: #344E41;
	line-height: 26px;
	font-weight: 400;
}

.contact_section .input-text:focus + .label,
.contact_section .input-text.not-empty + .label{
	transform: translateY(-24px);
}
.contact_section .input-text:focus{
	outline: none;
}

.contact_section .label{
	position: absolute;
	left: 20px;
	bottom: 20px;
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
	color: #000;
	cursor: text;
	transition: transform 0.2s ease-in-out;
	text-transform: uppercase;
}

.contact_section .submit-btn{
	background: linear-gradient(40deg, rgba(2,0,36,1) 0%, rgba(98,201,144,1) 77%, rgba(0,212,255,1) 100%); !important;
	color: #fff;
	letter-spacing: 2px;
	font-size: 16px;
	padding: 8px 16px;
	border:  none;
	width: 250px;
	cursor: pointer;
}	


/* FOOTER */
.footer-basic {
    height: 100%;
    padding: 20px 0;
    background-color: #ffffff;
}

.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}

.footer-basic li {
    padding:0 10px;
}

.footer-basic ul a {
    color:inherit;
    text-decoration:none;
}

.footer-basic ul a:hover {
    opacity:1;
}

.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
}

.footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
}

.footer-basic .social > a:hover {
    opacity:0.9;
}

.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    font-weight: 900;
    color:#000;
    margin-bottom:0;
}

.footer-nav li{
    display: inline-block;
    padding: 0 20px;
}

.footer-descr p {
    text-align: center;
    width: 250px;
}

@media only screen and (max-width: 1560px){

	.list-carousel{
		height: 75vh;
	}
}


@media only screen and (max-width: 720px){
	
	.brand{
		font-size: 16px;
	}

	.nav-item a{
		padding: 25px !important ;
	}

	#carousel-home{
		max-height:50vh;
	}

	.home-caption h5{
		font-size: 38px;
	}

	.home-caption p{
		font-size: 16px;
	}

	#intro h1{
		font-size: 30px;
	}

	.para-cont h1{
		font-size: 98px;
	}

	.list-carousel{
		height: 60vh;	
	}
}

@media only screen and (max-width: 500px){
	.brand{
		font-size: 12px;
	}

	#carousel-home{
		max-height:35vh;
	}

	.carousel-caption{
		top: 30px;
	}

	.home-caption h5{
		font-size: 24px;
	}

	.home-caption p{
		font-size: 12px;
	}

	#intro h1{
		font-size: 26px;
	}

	#sect-intro p:nth-child(1){
		font-size: 26px;
	}

	#sect-intro p:nth-child(2){
		font-size: 16px;
	}

	.list-carousel{
		height: 40vh;	
	}

	.listing-title{
		letter-spacing: 1.5px;
	}

	.para-cont h1{
		font-size: 56px;
	}
}
